configFilename	brownRcvC320
sortLexicallyFilesInFolders	true
treatAllFilesInFolderAsOneBigDocument	false
inferenceMethod			GREEDY
beamSize					5
thresholdPrediction			false
predictionConfidenceThreshold	-1
labelTypes				PER ORG LOC MISC
logging					true
debuggingLogPath			../DebugLog/
taggingEncodingScheme		BILOU
pathToGazetteers			../Data/KnownLists
pathsToBrownClusters		../Data/BrownHierarchicalWordClusters/brown-rcv1.clean.tokenized-CoNLL03.txt-c320-freq1.txt
minWordAppThresholdsForBrownClusters	0
isLowercaseBrownClusters	false
pathsToWordEmbeddings	../Data/WordEmbedding/hlbl_reps_clean_1.rcv1.clean.tokenized-CoNLL03.case-intact.txt
embeddingDimensionalities	100
minWordAppThresholdsForEmbeddings	0
normalizationConstantsForEmbeddings 0.1
normalizationMethodsForEmbeddings	OVERALL
isLowercaseWordEmbeddings	false
pathToModelFile			../Data/Models/
tokenizationScheme			DualTokenizationScheme
Forms					1
Capitalization				1
WordTypeInformation		1
Affixes					1
PreviousTag1				1
PreviousTag2				1
GazetteersFeatures			0
WordEmbeddings			0
BrownClusterPaths			1
aggregateContext			0
aggregateGazetteerMatches	0
prevTagsForContext		0
PredictionsLevel1			0