configFilename	Disease-bio-domain-clarkne-0.3-experiment
pathToTrainDevTest	../data/GoldData/Disease/
sortLexicallyFilesInFolders	true
treatAllFilesInFolderAsOneBigDocument	false
inferenceMethod			GREEDY
beamSize					5
thresholdPrediction			false
predictionConfidenceThreshold	-1
labelTypes				Anatomical_entity
logging					true
debuggingLogPath			../debug-log/
taggingEncodingScheme		BILOU
pathToGazetteers			../data/KnownLists
pathsToBrownClusters		../data/BrownHierarchicalWordClusters/outDomain/brown-rcv1.clean.tokenized-CoNLL03.txt-c1000-freq1.txt
minWordAppThresholdsForBrownClusters	5
isLowercaseBrownClusters	false
pathsToWordEmbeddings	../data/WordEmbedding/david.txt
embeddingDimensionalities	45
minWordAppThresholdsForEmbeddings	0
normalizationConstantsForEmbeddings 0.3
normalizationMethodsForEmbeddings	OVERALL
isLowercaseWordEmbeddings	false
isUppercaseWordEmbeddings	true
pathToModelFile			../data/Models/
tokenizationScheme			DualTokenizationScheme
Forms					1
Capitalization				1
WordTypeInformation		1
Affixes					1
PreviousTag1				1
PreviousTag2				1
GazetteersFeatures			0
WordEmbeddings			1
BrownClusterPaths			0
aggregateContext			0
aggregateGazetteerMatches	0
prevTagsForContext		0
PredictionsLevel1			0
