configFilename	AnEM-bio-domain-brown-c150-experiment
pathToTrainDevTest	../data/GoldData/AnEM/
sortLexicallyFilesInFolders	true
treatAllFilesInFolderAsOneBigDocument	false
inferenceMethod			GREEDY
beamSize					5
thresholdPrediction			false
predictionConfidenceThreshold	-1
labelTypes				Anatomical_entity
logging					true
debuggingLogPath			../debug-log/
taggingEncodingScheme		BILOU
pathToGazetteers			../data/KnownLists
pathsToBrownClusters		../data/BrownHierarchicalWordClusters/inDomain/c150.txt
minWordAppThresholdsForBrownClusters	0
isLowercaseBrownClusters	false
pathsToWordEmbeddings	../data/WordEmbedding/hlbl_reps_clean_1.rcv1.clean.tokenized-CoNLL03.case-intact.txt
embeddingDimensionalities	100
minWordAppThresholdsForEmbeddings	0
normalizationConstantsForEmbeddings 0.1
normalizationMethodsForEmbeddings	OVERALL
isLowercaseWordEmbeddings	false
isUppercaseWordEmbeddings	false
pathToModelFile			../data/Models/
tokenizationScheme			DualTokenizationScheme
Forms					1
Capitalization				1
WordTypeInformation		1
Affixes					1
PreviousTag1				1
PreviousTag2				1
GazetteersFeatures			0
WordEmbeddings			0
BrownClusterPaths			1
aggregateContext			0
aggregateGazetteerMatches	0
prevTagsForContext		0
PredictionsLevel1			0
