configFilename	AnEM-bio-news-news-domain-clarkne-hlbl-brown-experiment
pathToTrainDevTest	../data/GoldData/AnEM/
sortLexicallyFilesInFolders	true
treatAllFilesInFolderAsOneBigDocument	false
inferenceMethod			GREEDY
beamSize					5
thresholdPrediction			false
predictionConfidenceThreshold	-1
labelTypes				Anatomical_entity
logging					true
debuggingLogPath			../debug-log/
taggingEncodingScheme		BILOU
pathToGazetteers			../data/KnownLists
pathsToBrownClusters		../data/BrownHierarchicalWordClusters/outDomain/brown-rcv1.clean.tokenized-CoNLL03.txt-c1000-freq1.txt
minWordAppThresholdsForBrownClusters	0
isLowercaseBrownClusters	false
pathsToWordEmbeddings	../data/WordEmbedding/david.txt	../data/WordEmbedding/hlbl_reps_clean_1.rcv1.clean.tokenized-CoNLL03.case-intact.txt
embeddingDimensionalities	45	100
minWordAppThresholdsForEmbeddings	0	0
normalizationConstantsForEmbeddings 0.5	0.1
normalizationMethodsForEmbeddings	OVERALL	OVERALL
isLowercaseWordEmbeddings	false false
isUppercaseWordEmbeddings	true false
pathToModelFile			../data/Models/
tokenizationScheme			DualTokenizationScheme
Forms					1
Capitalization				1
WordTypeInformation		1
Affixes					1
PreviousTag1				1
PreviousTag2				1
GazetteersFeatures			0
WordEmbeddings			1
BrownClusterPaths			1
aggregateContext			0
aggregateGazetteerMatches	0
prevTagsForContext		0
PredictionsLevel1			0
