configFilename	GeneTag-news-domain-hlbl-100d-0.1-experiment
pathToTrainDevTest	../data/GoldData/GeneTag/
sortLexicallyFilesInFolders	true
treatAllFilesInFolderAsOneBigDocument	false
inferenceMethod			GREEDY
beamSize					5
thresholdPrediction			false
predictionConfidenceThreshold	-1
labelTypes				GENE
logging					true
debuggingLogPath			../debug-log/
taggingEncodingScheme		BILOU
pathToGazetteers			../data/KnownLists
pathsToBrownClusters		../data/BrownHierarchicalWordClusters/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt	../data/BrownHierarchicalWordClusters/brownBllipClusters		../data/BrownHierarchicalWordClusters/rcv1.clean.tokenized-c1000-p1.paths.txt
minWordAppThresholdsForBrownClusters	5	5	5
isLowercaseBrownClusters	false	false	false
pathsToWordEmbeddings	../data/WordEmbedding/hlbl_reps_clean_1.rcv1.clean.tokenized-CoNLL03.case-intact.txt
embeddingDimensionalities	100
minWordAppThresholdsForEmbeddings	0
normalizationConstantsForEmbeddings 0.1
normalizationMethodsForEmbeddings	OVERALL
isLowercaseWordEmbeddings	false
isUppercaseWordEmbeddings	false
pathToModelFile			../data/Models/
tokenizationScheme			DualTokenizationScheme
Forms					1
Capitalization				1
WordTypeInformation		1
Affixes					1
PreviousTag1				1
PreviousTag2				1
GazetteersFeatures			0
WordEmbeddings			1
BrownClusterPaths			0
aggregateContext			0
aggregateGazetteerMatches	0
prevTagsForContext		0
PredictionsLevel1			0
